# Configuración General del Sistema
APP_NAME="Nombre del Sistema"
APP_ENV="development"
APP_DEBUG=true
APP_PORT=8000

# Parámetros de Conexión a PostgreSQL
DB_HOST="127.0.0.1"       # O el nombre del contenedor de BD en la red backend (ej. 'postgres-db')
DB_PORT=5432
DB_NAME="dbname"
DB_USER="postgres"
DB_PASSWORD="secret123"

# Seguridad y Autenticación (JWT)
SECRET_KEY="clave_secreta_super_segura_para_firmar_tokens"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
