<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>Plantilla Principal</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
        </nav>
    </header>
    <main class="container">
        <!--Contenido dinamico del sitio-->
    </main>
    <footer>
        <p class="info">
            <a href="mailto:sotelo.enrique@gmail.com">Ecríbeme</a>
        </p>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>
